@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{

    --clr-accent-400: hsl(12, 88%, 59%); /* bright red */
    --clr-accent-100: hsl(13, 100%, 96%); /* very pale red */

    --clr-primary-400: hsl(228, 39%, 23%); /* dark blue */
    
    --clr-neutral-100: hsl(233, 12%, 13%); /* very dark blue */
    --clr-neutral-900: hsl(0, 0%, 0%);

    --ff-primary: "Be Vietnam Pro", sans-serif;
    
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-small: 13px;
    --fs-mid: 16px;
    --fs-heading: 56px;

    --fs-mid-mob: 15px;
    --fs-heading1-mob: 38px;
    --fs-heading2-mob: 30px;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
}


body{
    font-family: var(--ff-body);
}


.getStarted {
    background-color: var(--clr-accent-400);
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    color: var(--clr-accent-100);
    font-size: var(--fs-small);
    font-weight: 700;
    box-shadow:  3px 6px 8px 0px rgba(204, 73, 73, 0.664) ;
}

/* header/navbar */

header{
    margin: 3% 0;
}




/* first page */

main{
    /* width: 80%; */
    margin: 0 auto;
    margin-bottom: 3%;
}

.firstPage{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.introText{
    flex-basis: 40%;    
    flex-direction: column;
    padding: 20px ;
}

.introText > h1{
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
    line-height: 1.2;
}

.introText > p{
    padding: 10px 0;
    width: 375px;
    font-size: var(--fs-mid);
    opacity: 0.5;
    line-height: 1.75;
}

.introText > button{
    margin-block: 10px ;
}

/* second page part */


    /*  */
    .carouselBlock{
        background-color: hsl(0, 0%, 96%);
        width: 450px !important;
        padding: 20px !important;
        padding-top: 80px !important;
		/* border: 1px solid; */
    }
    .carouselBlock > img{
        border-radius: 50%;
        width: 100px !important;
        position: absolute;
        transform: translate(50%, -50%);
        top: 27%;
        left: 25%;
    }
	.owl-carousel{
		padding: 50px;
	}



@media screen and (max-width: 990px) {
    .navBtn{
        display: none;       
    }
    main{
        width: 100%;
    }
    .firstPage{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dataIllustration > img{
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
    }

    .introText{
        text-align: center;
    }
    .introText > h1{
        font-size: var(--fs-heading1-mob);
    }

    .introText > p{
        margin: 30px auto;
        margin-top: 10px ;
        width: 90%;
        padding: 0;
    }

    /*  */

    .companyFeatures{
        /* display: flex; */
        flex-direction: column !important;
    }

    .caraOuterMar{
        margin: 20px
    }


}