@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{

    --clr-accent-400: hsl(12, 88%, 59%); /* bright red */
    --clr-accent-100: hsl(13, 100%, 96%); /* very pale red */

    --clr-primary-400: hsl(228, 39%, 23%); /* dark blue */
    
    --clr-neutral-100: hsl(233, 12%, 13%); /* very dark blue */
    --clr-neutral-900: hsl(0, 0%, 0%);

    --ff-primary: "Be Vietnam Pro", sans-serif;
    
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-small: 13px;
    --fs-mid: 16px;
    --fs-heading: 60px;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: var(--ff-body);

}

.wide80{
    width: 85%;
    margin: 0 auto;
}





/* header navigation */
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    height: 150px;
    font-size: var(--fs-small);
    font-weight: 500;
    margin-bottom: 50px;
}

.navLinksContainer{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
}

.navLinks{
    padding: 5px;
}

.navLinks:hover, .getStarted:hover{
    opacity: 0.5;
    cursor: pointer;
}

.getStarted {
    background-color: var(--clr-accent-400);
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    color: var(--clr-accent-100);
    font-weight: 700;
    box-shadow: 10px 6px 8px 4px var(--clr-accent-100);
}


/* first page */

.firstPage{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin-block: 50px;
}

.dataIllustration{
    width: 570px;
    height: 500px;
    background: url(../images/illustration-intro.svg);
    background-repeat: no-repeat;
    flex-basis: 42%;
}

.introText{
    flex-basis: 52%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
}

.introText > h1{
    font-size: var(--fs-heading);
    flex-basis: 40%;
    line-height: 1.2;
    /* width: 550px; */
}

.introText > p{
    padding: 20px 0;
    width: 60%;
    font-size: var(--fs-mid);
    opacity: 0.5;
    line-height: 1.75;
}

.introText > button{
    margin-block: 10px ;
}

/* second page body  --- company features*/

.companyFeatures > div {
    display: flex;

}














/* author and developer links footer */

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }



  @media screen and (max-width: 400px) {
    .navLinksContainer{
        display: none;
    }
    .ctaButton{
        display: none;
    }

    .menuNavbar{
        position: absolute;
        width: 80%;
        height: 100px;
        background-color: aqua;
        top: 100px;
        right: 30px;
    }
    .menuNavbar li{
        list-style: none;
        padding: 5px;
        margin: 2px auto;
    }
  }