@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{

    --clr-accent-400: hsl(12, 88%, 59%); /* bright red */
    --clr-accent-100: hsl(13, 100%, 96%); /* very pale red */

    --clr-primary-400: hsl(228, 39%, 23%); /* dark blue */
    
    --clr-neutral-100: hsl(233, 12%, 13%); /* very dark blue */
    --clr-neutral-900: hsl(0, 0%, 0%);

    --ff-primary: "Be Vietnam Pro", sans-serif;
    
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-small: 14px;
    --fs-mid: 16px;
    --fs-heading: 56px;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: var(--ff-body);

}

.wide80{
    width: 85%;
    margin: 0 auto;
}

.topLeft{
    background: url(../images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 110vh;
    z-index: -100;
    top: -20%;
    left: 55%;
}



/* header navigation */
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    font-size: var(--fs-small);
    font-weight: 500;
}

.navLinksContainer{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
}

.navLinks{
    padding: 5px;
}

.navLinks:hover, .getStarted:hover{
    opacity: 0.5;
    cursor: pointer;
}

.getStarted {
    background-color: var(--clr-accent-400);
    border: none;
    width: 140px;
    height: 45px;
    border-radius: 50px;
    color: var(--clr-accent-100);
    font-weight: 700;
    box-shadow: 10px 6px 8px 4px var(--clr-accent-100);
}


/* first page */

.firstPage{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.dataIllustration{
    /* flex-basis: 40%; */
    width: 570px;
    height: 500px;
    background: url(../images/illustration-intro.svg);
    background-repeat: no-repeat;
}

.introText{
    height: 400px;
    flex-basis: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
}

.introText > h1{
    font-size: var(--fs-heading);
    flex-basis: 40%;
}


















/* author and developer links footer */

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }